*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
  }
.home-section-container{
    width:100%;
    height: 450px;
    background:url('https://cdn.us-west-2.prod.realestate.com/7025355c1fb2bf1f8c9d613adebe316b.jpg') no-repeat center left;
    background-size: cover;
}
.home-content-box{
    margin-top:0;
    float:right;
    text-align: center;
    width:50%;
    padding-top:50px;
    height: 400px;
 
    background:rgba(138, 139, 138, 0.1);
    color:white;
}
.home-content-box h1{
    margin:0;
    line-height: 1.2;
    text-align: center;
    color:white;
    font-weight:400;
    font-size: 2rem;
}
.search-box{
    width:50%;
}
.house-section{
    background: black;
    width:100%;
    height: 200px;
    color:white;
}
.house-section .row{
    width:100%;
    border:1px solid red;
    height: 95%;
    overflow: auto;
    white-space: nowrap;
}
.house-section .row .house-box{
    display:inline-block;
    width:200px;
    border:1px solid white;
}
.house-box{
    margin: 5px 5px;
    min-height:95%;
    text-align: center;
}
.house-box h4{
    color:red;
}
.house1{
    background:url('https://img.clasf.co.za/2015/01/11/Property-for-sale-in-Centurion-Celtisda-House-For-Sale-20150111185412.jpg') no-repeat center center;
    background-size: cover;
}